<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="71e0dc62-2c7a-4d6b-92a9-199d94cc510e" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="71e0dc62-2c7a-4d6b-92a9-199d94cc510efileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
